[submodule "Italian"]
	path = Italian
	url = https://github.com/TGDSimware/Italian
[submodule "French"]
	path = French
	url = https://github.com/TGDSimware/French
[submodule "English"]
	path = English
	url = https://github.com/TGDSimware/English
[submodule "Spanish"]
	path = Spanish
	url = https://github.com/TGDSimware/Spanish