[submodule "Italian"]
	path = Italian
	url = https://github.com/TGDSimware/Italian
[submodule "French"]
	path = French
	url = https://github.com/TGDSimware/French
[submodule "English"]
	path = English
	url = https://github.com/TGDSimware/English
[submodule "Spanish"]
	path = Spanish
	url = https://github.com/TGDSimware/Spanish
[submodule "French/Co-Drivers/Richard-Collomb"]
	path = French/Co-Drivers/Richard-Collomb
	url = https://github.com/TGDSimware/Richard-Collomb.git
